
body {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #3e92cc;
    color: #FFFAFF;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    font-family:cursive;
}
.show-form {
    display: flex;
    justify-content: center;

}
.show-form-button {
    height: 50px;
    width: 100px;
    background-color: #D8315B ;
    border-radius: 25px;
}
#add-book {
    display: none;
}
.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: minmax(200px, auto);
    height: 80%;
    width: 80%;
    gap: 20px;
    margin: 2rem;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
    gap: 5px;
    background-color: #D8315B;
    border-radius: 25px;
    box-shadow: 5px 5px 5px whitesmoke ;
}
.book div:nth-child(1) {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.book div:nth-child(2)::before {
    content: "Written by: ";
}
.book div:nth-child(3)::before {
    content: "Pages: ";
}

.remove, .read-status {
    width: 175px;
    border-radius: 15px;
}